@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/*body {
   @apply bg-gradient-to-bl from-indigo-900 via-indigo-400 to-indigo-900 h-[500px];
}   */

body {
  font-family: 'Roboto', sans-serif;
  @apply bg-gradient-radial from-indigo-900 to-indigo-600 text-white
}

/* On ajoute @apply devant pour créer une nouvelle classe TailWind */
.containerTW {
  @apply flex flex-col justify-center
    gap-6 sm:gap-8 md:gap-16 lg:gap-20
}

.boxTW {
  @apply px-4 mx-auto
    mt-6 sm:mt-10 md:mt-12 lg:mt-20
    max-w-xl md:max-w-2xl lg:max-w-4xl
}

/* sm:max-w-4xl  */
